

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', Arial, Helvetica, serif;
}

.container{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}


@import './blocks/variables';
@import './blocks/index-desc';
@import './blocks/index-tablet';
@import './blocks/index-mob';