.header{
    background-color: $bg-accent;
    padding-top: 196px;
    padding-bottom: 156px;
    background-image:
        url("./img/big-star.png"),
        url("./img/group-stars.png") ;
    background-repeat: no-repeat;
    background-position:
        top right,
        top 60% left calc(50% - 135px);

    &__heading{
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $text-primary;
        margin-bottom: 24px;
    }

    &__text{
        color: $text-primary;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 48px;

        &_bold{
            font-weight: 600;
        }
    }

    &__btn{
        background-color: $btn-primary;
        text-decoration: none;
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        padding: 16px 65px;
        border-radius: 60px;
        border: 1px solid $btn-primary;
        display: block;
        max-width: 248px;
    }
}

.ticker{
    background: #BCEC30;

    &__list{
        list-style-type: none;
        display: flex;
        gap: 50px;
        align-items: center;
        width: max-content;
        padding-top: 27px;
        padding-bottom: 30px;
    }

    &__item{
        color: #202027;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }
}

.main{
    background-color: $btn-primary;
    background-image: 
        url("./img/main-stars.png"),
        url("./img/big-star1.png");
    background-repeat: no-repeat;
    background-position: 
        top right,
        top 60% left calc(50% - 135px);
}