@media(max-width: 835px){

    .page-repo{
        background-image: 
            url("./img/big-star-mob.svg"),
            url("./img/star-mob-up.svg"),
            url("./img/star-mob-down.svg");
        background-repeat: no-repeat;
        background-position:
            top right,
            top 64px left 10%,
            bottom 79px right 10%;
    }

    .container{
        padding-left: 16px;
        padding-right: 16px;
    }

    .header{
        padding-top: 147px;
        padding-bottom: 147px;
        text-align: center;

        &__heading{
            font-size: 40px;
        }

        &__text{
            font-size: 16px;
            margin-bottom: 36px;
            line-height: normal;
        }

        &__btn{
            font-size: 16px;
            padding: 16px 104px;
            max-width: 285px;
            margin: auto;
        }
    }

    .ticker{

        &__list{
            padding: 16px 0;
        }

        &__item{
            font-size: 16px;

            svg{
                width: 19px;
                height: 19px;
            }
        }
    }

    .main{
        background-image: none;
        padding-bottom: 10px;
    }

    .about{
        display: none;
    }

    .games{
    &__title{
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

    .cards-vertical{
        gap: 24px;
    }

    .card-vertical{
        flex-direction: column;

        &__content{
            order: 1;
            padding: 30px 30px 32px;
        }

        &__title{
            font-size: 32px;
            padding-bottom: 16px;
        }

        &__subtitle{
            font-size: 16px;
            line-height: normal;
            padding-bottom: 32px;
            max-width: 270px;
        }

        &__btn{
            display: block;
            font-size: 16px;
        }
    }

    .title-section{
        font-size: 40px;
    }

    .footer{
        &__text{
            font-size: 16px;
        }
    }
}


