@media(min-width: 836px) and (max-width: 1199px){
    .container{
        padding-left: 24px;
        padding-right: 24px;
    }

    .cards{
        max-height: 1603px;
        align-items: center;
    }
}